/*
Author: Pablo Montoya Varela
Version: 1.0
*/
/*IMPORTED FONTS==================*/
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../../assets/fonts/Gilroy-ExtraBold.otf") format("otf");
}
/*RESET===========================*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*TYPOGRAPHY===========================*/
body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  color: #DEDEDE;
}

h1, h2, h3 {
  font-family: "Gilroy-ExtraBold", arial, sans-serif;
  font-weight: 700;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
}

/*SECTIONS===========================*/
section {
  height: 100vh;
  max-width: 75vw;
}

/*MEDIA===========================*/
img {
  max-width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
}

/*LINKS========================*/
a {
  color: unset;
  text-decoration: none;
}

/*LISTS========================*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  font-size: 1rem;
  transition: all 400ms ease-in-out;
  opacity: 0.5;
}
ul li:hover {
  color: #EC5663;
  opacity: 1;
}

/*FOLLOWER========================*/
.follower {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 9;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  opacity: 0.75;
}

body:has(.starship-system:hover) .follower {
  scale: 1.5;
  background-color: #0A0A0A;
}

/*MASKS===========================*/
/*ELEMENT===========================*/
.element {
  width: 35px;
  height: 35px;
  background-color: #0A0A0A;
  border-radius: 100%;
  border: 1px dashed #DEDEDE;
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}
.element:hover {
  scale: 1.2;
  rotate: 45deg;
}

/*NAV========================*/
nav.navigation-bar {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  position: sticky;
  top: 0;
}
nav.navigation-bar li {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

html, body {
  scroll-behavior: smooth;
}

body {
  background-color: #0a0a0a;
  color: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  scrollbar-color: transparent;
  position: relative;
  margin: 0;
}

/*CONTACT ME======================*/
.contact-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 2rem;
}
.contact-section .section-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  background-color: #0A0A0A;
  padding: 2rem 0;
}
.contact-section .contact-me-wrapper {
  display: flex;
  gap: 2rem;
}
.contact-section .contact-me-wrapper .section-title {
  text-align: center;
}
.contact-section .pali-tries-to-design {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.contact-section .pali-tries-to-design h1 {
  line-height: 0.85;
}
.contact-section .pali-tries-to-design h1:last-child {
  color: #EC5663;
}

form#contactMe {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}
form#contactMe .input-wrapper {
  display: flex;
  gap: 1rem;
}
form#contactMe .input-group {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25rem;
}
form#contactMe .input-group label {
  opacity: 0.5;
}
form#contactMe .input-group input {
  color: #DEDEDE;
  background-color: #0A0A0A;
  border: 2px solid #DEDEDE;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}
form#contactMe .input-group #message {
  background-color: #0A0A0A;
  border-radius: 0.5rem;
  border: 2px solid #DEDEDE;
  padding: 0.25rem 0.5rem;
  height: 5rem;
}
form#contactMe #submitButton {
  background-color: #EC5663;
  border-radius: 0.5rem;
  font-weight: 700;
  width: fit-content;
  padding: 0.25rem 1rem;
  border: 2px solid #EC5663;
  align-self: flex-end;
}
form#contactMe #submitButton:hover {
  background-color: #0A0A0A;
  color: #EC5663;
  border: 2px solid #EC5663;
}

button, .launch-project-button, #submitButton {
  border: #0A0A0A;
  font-weight: 0.7rem;
}

.projects-section {
  width: 100%;
}

.project-link {
  display: block;
}

.project {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  padding: 1rem 4rem;
  width: 100%;
  background-color: #0A0A0A;
  position: relative;
}
.project:hover .project-preview-images-wrapper {
  opacity: 1;
  display: block;
}
.project .project-preview-images-wrapper {
  aspect-ratio: 16/9;
  width: 15rem;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0;
  display: none;
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0px, -50%);
  }
  50% {
    transform: translate(0px, -45%);
  }
  100% {
    transform: translate(0, -50%);
  }
}
.project .project-preview-images-wrapper .preview-image {
  width: 100%;
  height: 100%;
  background-color: #DEDEDE;
  border-radius: 0.5rem;
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8) 200ms;
}
.project .project-preview-images-wrapper .preview-image:not(.preview-image:first-child) {
  background-color: tomato;
  position: absolute;
  inset: 0;
  z-index: -1;
}
.project .project-preview-images-wrapper:hover .preview-image:last-child {
  transform-origin: bottom left;
  transform: translate(2rem, -1rem) rotate(-15deg);
}
.project .project-preview-images-wrapper:hover .preview-image:nth-child(2) {
  transform-origin: top left;
  transform: translate(2rem, 1rem) rotate(15deg);
}
.project .project-text-container {
  opacity: 0.5;
}
.project .project-text-container .project-link:hover {
  text-decoration: underline;
}
.project:hover {
  color: #0A0A0A;
  background-color: #EC5663;
  padding-left: 4rem;
}
.project:hover .launch-project-button {
  opacity: 1;
}
.project:hover .project-text-container {
  opacity: 1;
  transform: translateX(1rem);
}
.project .launch-project-button {
  padding: 0.25rem 1rem;
  border-radius: 10rem;
  border: 2px solid #0A0A0A;
  opacity: 0;
}
.project .launch-project-button > * {
  font-size: 1rem;
}
.project .launch-project-button:hover {
  background-color: #0A0A0A;
  color: #EC5663;
}

.progress-bar-container {
  position: fixed;
  width: 100%;
  padding: 0 4rem;
  bottom: 2rem;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  background-color: #0A0A0A;
}
.progress-bar-container .altitude-container, .progress-bar-container .stage-container, .progress-bar-container .progress-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.progress-bar-container .altitude-container .altitude .altitude-value {
  font-weight: 700;
}
.progress-bar-container .stage-inner {
  display: flex;
  gap: 1rem;
}
.progress-bar-container .stage-container {
  gap: 2rem;
}
.progress-bar-container .stage-container .stage-title {
  font-weight: 700;
}
.progress-bar-container .stage-container .progress {
  width: 10vw;
  height: 4px;
  border-radius: 4px;
  background-color: #DEDEDE;
}
.progress-bar-container .stage-container .progress .progress-inner {
  height: 4px;
  width: 0px;
  border-radius: 4px;
  background-color: #EC5663;
}
.progress-bar-container .stage-container .stages-list {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}
.progress-bar-container .stage-container .stages-list li {
  font-size: 0.7rem;
}
.progress-bar-container .altitude-container .element, .progress-bar-container .progress-icons .element {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stars-section {
  position: relative;
  width: 100%;
}

.stars {
  width: 10px;
  height: 10px;
  background-color: #DEDEDE;
  position: absolute;
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}
.stars:hover {
  border-radius: 100%;
}

.stars:nth-of-type(1) {
  left: 0rem;
  top: 5rem;
}

.stars:nth-of-type(2) {
  left: 10rem;
  top: 10rem;
}

.stars:nth-of-type(3) {
  left: 20rem;
}

.satellites-section {
  position: relative;
  width: 100%;
}

.satellite {
  width: 10px;
  height: 10px;
  background-color: #EC5663;
  position: absolute;
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}
.satellite:hover {
  border-radius: 100%;
}

.satellite:nth-of-type(1) {
  left: 0rem;
  top: 5rem;
}

.satellite:nth-of-type(2) {
  left: 10rem;
  top: 10rem;
}

.satellite:nth-of-type(3) {
  left: 20rem;
}

.planes-section {
  position: relative;
  width: 100%;
}

.plane {
  width: 10px;
  height: 10px;
  background-color: #EC5663;
  position: absolute;
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}
.plane:hover {
  border-radius: 100%;
}

.plane:nth-of-type(1) {
  left: 0rem;
  top: 5rem;
}

.plane:nth-of-type(2) {
  left: 10rem;
  top: 10rem;
}

.plane:nth-of-type(3) {
  left: 20rem;
}

.clouds-section {
  position: relative;
  width: 100%;
}

.cloud {
  width: 10px;
  height: 10px;
  background-color: #DEDEDE;
  position: absolute;
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}
.cloud:hover {
  border-radius: 100%;
}

.cloud:nth-of-type(1) {
  left: 0rem;
  top: 5rem;
}

.cloud:nth-of-type(2) {
  left: 10rem;
  top: 10rem;
}

.cloud:nth-of-type(3) {
  left: 20rem;
}

.birds-section {
  position: relative;
  max-width: unset;
  width: 100%;
}

.bird {
  width: 10px;
  height: 10px;
  background-color: #EC5663;
  position: absolute;
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}
.bird:hover {
  border-radius: 100%;
}

.bird:nth-of-type(1) {
  left: 100%;
  top: 10%;
}

.bird:nth-of-type(2) {
  left: 10rem;
  top: 10rem;
}

.bird:nth-of-type(3) {
  left: 20rem;
}

/*STARSHIP =======================*/
.starship-system {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: -1;
  top: 33.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.starship-system.floating {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(-54%, -50%);
  }
  50% {
    transform: translate(-46%, -48%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.starship-system.shaking {
  animation-name: shaking;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shaking {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.starship-container, .booster-container {
  width: 65px;
  overflow: hidden;
}
.starship-container img, .booster-container img {
  max-width: unset;
}

.starship-container {
  height: 195px;
}

.booster-container {
  height: 255px;
  position: absolute;
  top: 95%;
}

.rotating {
  animation: rotation 800ms steps(4) infinite;
}

@keyframes rotation {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes translation {
  from {
    transform: translateY(0rem);
  }
  to {
    transform: translateY(-30rem);
  }
}
/*HOME============================*/
body {
  background-color: #0A0A0A;
}

body:has(.starship-system:hover) .quote {
  opacity: 1;
}

section .section-title {
  text-align: center;
}

.quote {
  opacity: 0;
  transition: all 500ms ease-in-out;
}

/*PROJECTS SECTION================*/
.projects-section {
  max-width: unset;
}
.projects-section .section-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  padding: 2rem 0;
  border-radius: 1rem;
  background-color: #0A0A0A;
}
.projects-section .section-wrapper .section-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/*END OF PROJECTS SECTION================*/
/*ABOUT ME SECTION================*/
.about-me-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me-section .section-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 50%;
  background-color: #0A0A0A;
}
.about-me-section .section-wrapper .section-title {
  text-align: center;
}
.about-me-section .section-wrapper strong {
  color: #EC5663;
}
.about-me-section .section-wrapper .section-name-wrapper {
  display: flex;
  justify-content: space-between;
}
.about-me-section .section-wrapper .section-name-wrapper .section-name {
  opacity: 0.5;
}
.about-me-section .section-wrapper .section-name-wrapper .section-name.active {
  opacity: 1;
}

/*END OF ABOUT ME SECTION================*/
/*BIRDS SECTION=================*/
.birds-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.birds-section .birds-wrapper {
  width: 100%;
  height: 100%;
}

/*END OF BIRDS SECTION=================*/
/*LIFT OFF SECTION=================*/
.lift-off-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-width: unset;
}

.scroll-up-section {
  background-color: #DEDEDE;
  color: #0A0A0A;
  padding: 0.25rem 0.5rem;
  border-radius: 10rem;
  animation: fade 8s infinite;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
}
@keyframes fade {
  0%, 50%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}
.scroll-up-section p {
  font-size: 0.7rem;
  font-weight: 700;
}

/*END OF LIFT OFF SECTION==========*/
/*ACCESSIBILITY==================*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*# sourceMappingURL=style.css.map */
