/*
Author: Pablo Montoya Varela
Version: 1.0
*/
/*IMPORTED FONTS==================*/
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../../../assets/fonts/Gilroy-ExtraBold.otf") format("opentype");
}
/*RESET===========================*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*TYPOGRAPHY===========================*/
body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  color: #111111;
}

h1, h2, h3 {
  font-family: "Gilroy-ExtraBold", arial;
  line-height: 1;
  font-weight: 700;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: calc(1em + 2vw);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
}

/*SECTIONS===========================*/
section.home {
  height: 100vh;
  max-width: 75vw;
}

/*MEDIA===========================*/
img {
  max-width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
}

/*LINKS========================*/
a {
  color: unset;
  text-decoration: none;
}

/*LISTS========================*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  font-size: 1rem;
  opacity: 0.5;
}
ul li:hover {
  color: #FFED8C;
  opacity: 1;
}

/*ICONS========================*/
i:hover {
  color: #330b6e;
}

/*END OF ICONS========================*/
body:has(.starship-system:hover) .follower {
  scale: 1.5;
  background-color: #FFFFFF;
}

/*MASKS===========================*/
section.loader-section {
  background-color: #FFFFFF;
  filter: drop-shadow(0px 4px 0px #C8C8C8);
  display: none;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 1rem;
  height: unset;
  z-index: 100;
}
section.loader-section .loader-content-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  height: fit-content;
}
section.loader-section .loader-content-wrapper .inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
section.loader-section .loader-content-wrapper .input-wrapper .user-name-form {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}
section.loader-section .loader-content-wrapper .input-wrapper label {
  color: #111111;
  font-weight: 700;
  text-align: center;
  animation: fade 800ms steps(1) infinite;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
section.loader-section .loader-content-wrapper .input-wrapper .user-name-form .input-group {
  display: flex;
  flex-flow: row;
  gap: 1rem;
}
section.loader-section .loader-content-wrapper .input-wrapper .user-name-form .input-group input#nameInput {
  padding: 0.5rem 1rem;
}
section.loader-section .loader-content-wrapper .input-wrapper .user-name-form .input-group input#nameInput, section.loader-section .loader-content-wrapper .input-wrapper .user-name-form .input-group button#nameButton {
  background-color: #FFFFFF;
  color: #111111;
  border: 2px solid #111111;
  border-radius: 0.5rem;
}
section.loader-section .loader-content-wrapper .input-wrapper .user-name-form .input-group button#nameButton {
  font-weight: 700;
  padding: 0.5rem 1rem;
}
section.loader-section .loader-content-wrapper .input-wrapper .user-name-form .input-group button#nameButton:hover {
  background-color: #330b6e;
  border: 2px solid #330b6e;
  color: #FFFFFF;
  cursor: pointer;
}
section.loader-section .pali-tries-to-design {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: center;
}
section.loader-section .pali-tries-to-design h1 {
  line-height: 0.85;
}
section.loader-section .pali-tries-to-design h1:last-child {
  color: #FFED8C;
}
section.loader-section .starship-container.loader-slide-out {
  animation: 5s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0s starshipLoaderSlideOut;
}
@keyframes starshipLoaderSlideOut {
  0% {
    transform: translateY(0%);
  }
  10% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-350%);
  }
}

.loader-section.slided-out {
  transform: translateY(100%);
  animation: slideLoaderOut 2000ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}
@keyframes slideLoaderOut {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

/*NAV========================*/
nav.navigation-bar {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  position: fixed;
  top: 0;
  z-index: 100;
  animation: 1600ms cubic-bezier(0.47, 1.64, 0.41, 0.8) 0s 1 slideInFromTop;
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
  }
}
nav.navigation-bar .logo-wrapper {
  width: 5rem;
  height: 5rem;
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}
nav.navigation-bar .logo-wrapper:hover {
  scale: 1.2;
  rotate: 5deg;
}
nav.navigation-bar li {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

html, body {
  scroll-behavior: smooth;
}

::-moz-selection { /* Code for Firefox */
  color: #330b6e;
  background: #72ff89;
}

::selection {
  color: #330b6e;
  background: #72ff89;
}

body.home {
  color: #111111;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  scrollbar-color: transparent;
  position: relative;
  margin: 0;
}

@media screen and (max-width: 450px) {
  .contact-section {
    max-width: 100%;
    margin: 1rem;
  }
  .contact-section .home-card-wrapper .home-card-inner-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .contact-section .home-card-wrapper .home-card-inner-wrapper .home-card-description {
    height: 100%;
    flex-grow: 3;
  }
  .contact-section .home-card-wrapper .home-card-inner-wrapper .home-card-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: fit-content;
  }
  .contact-section .home-card-wrapper .mask .copyright {
    white-space: wrap;
  }
  .home-card-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 100%;
  }
  .home-card-wrapper .home-card-inner-wrapper {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .home-card-wrapper .home-card-inner-wrapper .home-card-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }
  .home-card-wrapper .home-card-inner-wrapper .home-card-column a {
    text-align: center;
  }
  .home-card-wrapper .home-card-row {
    width: 100%;
    text-align: center;
  }
  .home-card {
    background-color: #FFFFFF;
    color: #383838;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0px 6px 0px 0px #C8C8C8;
  }
}
@media screen and (min-width: 451px) {
  .home-card {
    background-color: #FFFFFF;
    color: #383838;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0px 6px 0px 0px #C8C8C8;
  }
  .home-card p {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  .home-card-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .home-card-inner-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .home-card-inner-wrapper .home-card-description {
    height: 100%;
  }
  .home-card-row {
    width: 100%;
    text-align: center;
  }
  .home-card-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;
    height: 100%;
    gap: 1rem;
  }
  .card {
    background-color: #FFFFFF;
    color: #383838;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0px 6px 0px 0px #C8C8C8;
  }
  .card-title {
    display: flex;
    gap: 1rem;
    font-weight: 900;
    width: fit-content;
  }
  .card-title::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #FFE13F;
    margin-top: 0.5rem;
  }
  .best-card {
    color: #383838;
    padding: 0.5rem 1rem;
  }
  .best-card:hover {
    color: #8145FF;
  }
}
@media screen and (min-width: 900px) {
  section:has(.home-card-wrapper) {
    max-width: 60%;
  }
  section .home-card-wrapper {
    max-width: 35vw;
  }
}
.console-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 0px 0px #C8C8C8;
  gap: 1rem;
  background-color: #FFFFFF;
  border-radius: 1rem;
  padding: 1rem;
  max-width: 24rem;
}
.console-container .images-container {
  position: relative;
  border-radius: 0.5rem;
  border: 2px solid #111111;
  overflow: hidden;
  height: 20rem;
  width: 100%;
}
.console-container .images-container .depth {
  background-color: #C8C8C8;
  height: 16px;
}
.console-container .images-container .image-container {
  border-radius: 0.5rem;
  background-color: #FFFFFF;
  background-image: url(../../assets/aboutMe/pablo.webp);
  filter: grayscale(90%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 25rem;
  position: absolute;
  top: 6px;
  left: 0%;
  z-index: 1;
}
.console-container .images-container .door {
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}
.console-container .images-container .left-door {
  top: 0%;
  left: -50%;
  border-right: 2px solid #111111;
}
.console-container .images-container .right-door {
  top: 0%;
  right: -50%;
  border-left: 2px solid #111111;
}
.console-container .bolts {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.console-container .bolts .bolt {
  border: 2px solid #111111;
  border-radius: 100%;
  height: 1rem;
  width: 1rem;
  position: relative;
}
.console-container .bolts .bolt::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #111111;
  height: 0.9rem;
  width: 2px;
}
.console-container .bolts p {
  opacity: 0.4;
  font-size: 1rem;
}
.console-container .bolts-top .bolt:first-child {
  transform: rotate(15deg);
}
.console-container .bolts-top .bolt:last-child {
  transform: rotate(-45deg);
}
.console-container .bolts-bottom .bolt:first-child {
  transform: rotate(-30deg);
}
.console-container .bolts-bottom .bolt:last-child {
  transform: rotate(60deg);
}
.console-container .bottom-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.console-container .bottom-container .text-container {
  background-color: #acacac;
  border-radius: 0.5rem;
  border: 2px solid #111111;
  padding: 1rem;
  color: #10462c;
  min-height: 9rem;
  min-width: 100%;
  position: relative;
}
.console-container .bottom-container .text-container p {
  font-size: 1.1rem;
}
.console-container .bottom-container .buttons-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.console-container .bottom-container .buttons-container .power-button, .console-container .bottom-container .buttons-container .prev-arrow, .console-container .bottom-container .buttons-container .next-arrow {
  border-radius: 0.5rem;
  border: 2px solid #111111;
  color: #111111;
  padding: 0.5rem 0.75rem;
  font-size: 1.2rem;
  box-shadow: 0px 6px 0px 0px #C8C8C8;
}
.console-container .bottom-container .buttons-container .power-button:hover, .console-container .bottom-container .buttons-container .prev-arrow:hover, .console-container .bottom-container .buttons-container .next-arrow:hover {
  transform: translateY(4px);
  box-shadow: unset;
}
.console-container .bottom-container .buttons-container .power-button i:hover, .console-container .bottom-container .buttons-container .prev-arrow i:hover, .console-container .bottom-container .buttons-container .next-arrow i:hover {
  scale: unset;
  color: unset;
}
.console-container .bottom-container .buttons-container .power-button {
  background-color: #72ff89;
}
.console-container .bottom-container .buttons-container .prev-arrow, .console-container .bottom-container .buttons-container .next-arrow {
  background-color: #F5F5F5;
}
.console-container .bottom-container .buttons-container .arrow-buttons-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button, .launch-project-button, #submitButton {
  border: #FFFFFF;
  font-weight: 0.7rem;
}

.home-button {
  border: 2px solid #FFED8C;
  border-radius: 2rem;
  font-weight: bold;
  width: 100%;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

@media screen and (max-width: 450px) {
  #projects {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
  }
  #projects #project {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  #projects #project .main-mask {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
  }
  #projects #project .project-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
    width: 350vw;
    height: 40vh;
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
  }
  #projects #project .project-container .open-icon {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  #projects #project .project-container .project-inner-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    padding: 0 1rem;
  }
  #projects #project .project-container .project-inner-wrapper .project-tags {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  #projects #project .project-container .project-inner-wrapper .project-tags p {
    padding: 0.25rem 1rem;
    border-radius: 5rem;
    border: 2px solid #383838;
    color: #383838;
  }
  #projects #project .project-container .project-inner-wrapper + .mask {
    padding: 0 1rem;
  }
  #projects #project .project-container .project-images {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 100%;
  }
  #projects #project .project-container .project-images img {
    width: 30%;
  }
}
@media screen and (min-width: 451px) {
  #projects {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
  }
  #projects #project {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  #projects #project .main-mask {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
  }
  #projects #project .project-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
    width: 30vw;
    height: 40vh;
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
  }
  #projects #project .project-container .open-icon {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  #projects #project .project-container .project-inner-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    padding: 0 1rem;
  }
  #projects #project .project-container .project-inner-wrapper .project-tags {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  #projects #project .project-container .project-inner-wrapper .project-tags p {
    padding: 0.25rem 1rem;
    border-radius: 5rem;
    border: 2px solid #383838;
    color: #383838;
  }
  #projects #project .project-container .project-inner-wrapper + .mask {
    padding: 0 1rem;
  }
  #projects #project .project-container .project-images {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 100%;
  }
  #projects #project .project-container .project-images img {
    width: 30%;
  }
}
.iterative-process .mask {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 0px;
  height: 0px;
  border-radius: 100% 100% 0% 0%;
  overflow: hidden;
}
.iterative-process .mask .text-mask {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-mask {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 42%;
  z-index: -1;
  gap: 0.5rem;
  color: #72ff89;
}
.projects-mask .text-mask {
  font-size: 5rem;
}
.projects-mask .text-mask h1 {
  transform: translateY(200%);
}
.projects-mask .projects-line {
  width: 0%;
  height: 4px;
  background-color: #72ff89;
}

:root {
  --margin-top: 2rem;
  --max-width: 70%;
}

body.project-body img {
  border-radius: 1rem;
}
body.project-body #projectTitle {
  animation: 1000ms 1 titleFadeIn;
}
@keyframes titleFadeIn {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
body.project-body .project-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}
body.project-body .starship-container {
  position: fixed;
  top: 60%;
  rotate: 90deg;
  opacity: 0.2;
  z-index: -10;
  animation: 4000ms cubic-bezier(0.47, 1.64, 0.41, 0.8) 0s 1 starshipSlideIn;
}
@keyframes starshipSlideIn {
  0% {
    transform: translateX(-700%);
  }
  100% {
    transform: translateX(0);
  }
}
body.project-body .project-final-results {
  display: flex;
  gap: 2rem;
  margin: 4rem;
}
body.project-body main.main-section {
  max-width: var(--max-width);
  height: 200vh;
}
body.project-body main.main-section .main-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
body.project-body main.main-section .main-wrapper .project-content {
  display: flex;
  flex-flow: column nowrap;
  gap: 4rem;
  max-width: var(--max-width);
  margin-top: var(--margin-top);
}
body.project-body main.main-section .main-wrapper .project-content ul {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  max-width: var(--max-width);
}
body.project-body main.main-section .main-wrapper .project-content li {
  list-style: lower-greek;
  font-size: 1.25rem;
  opacity: unset;
}
body.project-body main.main-section .main-wrapper .project-content .project-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-height: 100vh;
}
body.project-body main.main-section .main-wrapper .project-content .project-content-wrapper:hover > h3 {
  color: #FFED8C;
}
body.project-body main.main-section .main-wrapper .project-content .project-content-wrapper .solution-part {
  color: #FFED8C;
}
body.project-body main.main-section .main-wrapper .project-content .project-content-wrapper #challenges {
  justify-content: center;
}
body.project-body main.main-section .main-wrapper .project-content .project-content-wrapper p {
  max-width: var(--max-width);
}
body.project-body main.main-section .overview-bar {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
body.project-body main.main-section .overview {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  background-color: #FFFFFF;
  padding: 2rem 2.75rem;
  border-radius: 1rem;
}
body.project-body main.main-section .overview .overview-inner-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
body.project-body main.main-section .overview-stages {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  position: sticky;
  top: var(--margin-top);
  z-index: 100;
  background-color: #FFFFFF;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}
body.project-body main.main-section .overview-stages .overview-list {
  display: flex;
  gap: 1rem;
}
body.project-body main.main-section .next-project {
  display: flex;
  align-items: center;
  gap: 1rem;
  animation: fade 800ms steps(1) infinite;
  color: #FFED8C;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
body.project-body main.main-section .next-project:hover > i {
  transform: translateX(-50%);
}

@media screen and (max-width: 450px) {
  .bottom-bar-container .stage-container .stage-inner {
    display: none;
  }
}
.bottom-bar-container {
  position: fixed;
  width: 100%;
  bottom: 2rem;
  z-index: 101;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  gap: 1rem;
  color: #111111;
  filter: drop-shadow(0px 4px 0px #C8C8C8);
  animation: 1600ms cubic-bezier(0.47, 1.64, 0.41, 0.8) 0s 1 slideInFromBottom;
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
.bottom-bar-container .stage-container, .bottom-bar-container .social, .bottom-bar-container .bar-icons, .bottom-bar-container .back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  background-color: #FFFFFF;
}
.bottom-bar-container .altitude, .bottom-bar-container .stage-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-weight: 700;
  background-color: #111111;
  border-radius: 4px;
  padding: 0.25rem 1rem;
  min-width: 104px;
}
.bottom-bar-container .about-me-icon, .bottom-bar-container .bar-icons {
  font-size: 1.5rem;
  padding: 0 0.5rem;
}
.bottom-bar-container .about-me-icon:hover, .bottom-bar-container .bar-icons:hover {
  color: #330b6e;
}
.bottom-bar-container .social {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}
.bottom-bar-container .social a:hover i {
  color: #330b6e;
}
.bottom-bar-container .back-to-top {
  padding: 1rem;
}
.bottom-bar-container .back-to-top:hover {
  background-color: #72ff89;
}
.bottom-bar-container .back-to-top:hover i {
  transform: translateY(-2px);
}
.bottom-bar-container i:hover {
  transform: translateY(-2px);
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8px;
  background-color: #111111;
}
.progress .progress-inner {
  height: 8px;
  width: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #FFED8C;
}

@media screen and (max-width: 450px) {
  .earth-curvature-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0%;
    width: 100vw;
    overflow-x: hidden;
    color: #FFFFFF;
    z-index: -1;
  }
  .earth-curvature-section .earth-container {
    height: 100vh;
    width: 250vw;
    overflow: hidden;
    position: relative;
  }
  .earth-curvature-section .earth-container img {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 451px) {
  .earth-curvature-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0%;
    max-width: unset;
    color: #FFFFFF;
    z-index: -1;
  }
  .earth-curvature-section .earth-container {
    height: 100vh;
    width: 200vw;
    overflow: hidden;
    position: relative;
  }
  .earth-curvature-section .earth-container img {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 900px) {
  .earth-curvature-section .earth-container {
    width: 70vw;
  }
}
body.home {
  background-image: url(../../assets/world/finalBg.png);
  background-position: center;
  background-size: cover;
  height: 8000px;
  position: relative;
}

.city-container {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}
.city-container img {
  max-width: unset;
}
.city-container .city-inner-container {
  overflow-x: hidden;
}

.train-container {
  position: absolute;
  width: 430px;
  bottom: 34.5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  overflow: hidden;
}
.train-container img {
  max-width: unset;
}

.skytrain {
  transform: translateX(0%);
  animation: skytrainAnimation 10s infinite linear forwards;
}

@keyframes skytrainAnimation {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(400%);
  }
  75% {
    transform: translateX(400%);
  }
  100% {
    transform: translateX(0%);
  }
}
.launchpad-container {
  position: absolute;
  bottom: 18.5%;
  left: 50%;
  transform: translateX(-50%);
}

.asteroid {
  position: absolute;
  bottom: 30%;
  transform: translateX(-50%);
  animation: asteroidAnimation 8s infinite ease-in-out forwards;
}

.asteroid-left {
  left: 8%;
  bottom: 25%;
  animation-delay: 2s;
}

.asteroid-right {
  right: 10%;
}

@keyframes asteroidAnimation {
  0%, 100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(100%);
  }
}
.clouds-section {
  position: relative;
  width: 100%;
}

.cloud {
  width: 10px;
  height: 10px;
  background-color: #111111;
  position: absolute;
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}
.cloud:hover {
  border-radius: 100%;
}

.cloud:nth-of-type(1) {
  left: 0rem;
  top: 5rem;
}

.cloud:nth-of-type(2) {
  left: 10rem;
  top: 10rem;
}

.cloud:nth-of-type(3) {
  left: 20rem;
}

/*STARSHIP =======================*/
.starship-system {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: -1;
  bottom: 310px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.starship-container, .booster-container {
  width: 65px;
  overflow: hidden;
}
.starship-container img, .booster-container img {
  max-width: unset;
}

.starship-and-flames, .booster-and-flames {
  width: 65px;
}

.starship-and-flames, .starship-container {
  height: 195px;
}

.booster-and-flames, .booster-container {
  height: 255px;
  position: absolute;
  top: 41%;
}

.rotating {
  animation: rotation 800ms steps(4) infinite;
}

@keyframes rotation {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
.descending {
  animation: descending 2000ms steps(1) infinite;
}

@keyframes descending {
  0% {
    transform: translate3d(-75%, 0, 0);
  }
  33% {
    transform: translate3d(-50%, 0, 0);
  }
  66% {
    transform: translate3d(-75%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes translation {
  from {
    transform: translateY(0rem);
  }
  to {
    transform: translateY(-30rem);
  }
}
.starship-system .starship-and-flames.stage-separation {
  transform: translate(0%, 100%);
  animation: starshipSeparation 6000ms 1;
}
@keyframes starshipSeparation {
  0% {
    transform: translate(0%, 0%);
    rotate: 0deg;
  }
  20% {
    transform: translate(5%, 5%);
    rotate: -2deg;
  }
  100% {
    transform: translate(0%, 100%);
    rotate: 0deg;
  }
}
.starship-system .booster-and-flames.stage-separation {
  transform: translate(-60%, 500%);
  animation: boosterSeparation 8000ms 1;
}
@keyframes boosterSeparation {
  0% {
    transform: translate(0%, 0%);
    rotate: 0deg;
  }
  20% {
    transform: translate(-10%, 25%);
    rotate: 10deg;
  }
  100% {
    transform: translate(-100%, 350%);
    rotate: 45deg;
  }
}

.starship-system.flying-out {
  transform: translate(0%, 0%);
  animation: stageTwoFlyingOut 4000ms 1;
}
@keyframes stageTwoFlyingOut {
  0% {
    transform: translate(-50%, -50%);
    rotate: 0deg;
  }
  40% {
    transform: translate(-50%, 150%);
    rotate: 5deg;
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -850%);
    rotate: 0deg;
  }
}

:root {
  --starship-width: 65px;
}

.flames-wrapper {
  display: flex;
  position: absolute;
  bottom: -195px;
  left: calc(var(--starship-width) / 2);
  transform: translateX(-50%);
  z-index: -1;
}

.flames-wrapper-starship {
  display: flex;
  position: absolute;
  bottom: -85px;
  left: calc(var(--starship-width) / 2);
  transform: translateX(-50%);
  z-index: -1;
  transform-origin: top center;
}

.flames-wrapper.booster-flames {
  animation: boosterSeparation 8000ms infinite;
}
@keyframes boosterSeparation {
  0% {
    transform: translate(0%, 0%);
    rotate: 0deg;
  }
  20% {
    transform: translate(-10%, 25%);
    rotate: 10deg;
  }
  100% {
    transform: translate(-100%, 350%);
    rotate: 45deg;
  }
}

.container {
  rotate: 180deg;
  margin: 80px auto;
  width: 60px;
  height: 100px;
  position: relative;
  transform-origin: center bottom;
  animation-name: flicker;
  animation-duration: 3ms;
  animation-delay: 200ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.flame {
  bottom: 0;
  position: absolute;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.red {
  left: 5px;
  width: 50px;
  height: 850px;
  background: linear-gradient(rgba(236, 86, 99, 0) 5%, rgb(236, 86, 99));
  box-shadow: 0px 40px 10px 5px rgb(236, 86, 99);
}

.white {
  left: 15px;
  bottom: -4px;
  width: 30px;
  height: 450px;
  background: linear-gradient(rgba(255, 255, 255, 0) 10%, rgb(255, 255, 255));
}

.flames-wrapper-starship .white {
  height: 1200px;
}

.circle {
  border-radius: 50%;
  position: absolute;
}

.blue {
  width: 10px;
  height: 10px;
  left: 25px;
  bottom: -25px;
  background: SlateBlue;
  box-shadow: 0px 0px 15px 10px SlateBlue;
}

.black {
  border-radius: 0 0 50% 50%;
  width: 25px;
  height: 30px;
  left: 17px;
  bottom: -50px;
  background: black;
  box-shadow: 0px 0px 15px 10px black;
}

@keyframes flicker {
  0% {
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(1deg);
  }
  40% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(1deg) scaleY(1.04);
  }
  80% {
    transform: rotate(-2deg) scaleY(0.92);
  }
  100% {
    transform: rotate(1deg);
  }
}
.launchpad {
  position: absolute;
  bottom: 1.83%;
  left: 50%;
  transform: translateX(-50%);
}

/*HOME============================*/
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

body.home {
  background-color: #0b001c;
}

body.home:has(.starship-system:hover) .quote {
  opacity: 1;
}

section .section-title {
  text-align: center;
}

.quote {
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.text-mask {
  overflow: hidden;
  padding-bottom: 1rem;
  padding-top: 2rem;
  width: 100%;
}
.text-mask > * {
  transform: translateY(200%);
}

.contact-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
}
.contact-section h1 {
  text-align: center;
}
.contact-section h1 b {
  transition: all 500ms ease;
  color: #FFED8C;
}
.contact-section .home-card-wrapper {
  padding: 1rem;
  overflow: hidden;
}
.contact-section .home-card-description {
  transform: translateX(-200%) rotate(-15deg);
}
.contact-section .home-card-column {
  transform: translateX(200%) rotate(15deg);
}
.contact-section .home-card-row {
  transform: translateY(-200%) rotate(-5deg);
}
.contact-section h1 {
  font-family: "Gilroy-ExtraBold", arial;
  color: #FFFFFF;
  font-size: calc(3em + 2vw);
}
.contact-section i {
  font-size: 1.5rem;
}
.contact-section .mask {
  padding: 0;
}
.contact-section .mask .copyright {
  color: #FFFFFF;
  text-align: center;
  font-size: 1rem;
  white-space: nowrap;
}

/*PROJECTS SECTION================*/
.projects-section {
  max-width: unset;
}
.projects-section .section-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  padding: 2rem 0;
  border-radius: 1rem;
  background-color: #FFFFFF;
}
.projects-section .section-wrapper .section-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/*END OF PROJECTS SECTION================*/
/*ABOUT ME SECTION================*/
.about-me-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.about-me-section .home-card-wrapper {
  padding: 1rem;
  overflow: hidden;
}
.about-me-section .home-card-column {
  transform: translateX(-200%) rotate(-15deg);
}
.about-me-section .home-card-description {
  transform: translateX(200%) rotate(15deg);
}
.about-me-section .home-card-row {
  transform: translateY(200%) rotate(5deg);
}
.about-me-section .home-button {
  background-color: #FFED8C;
}
.about-me-section .home-button:hover {
  background-color: #72ff89;
  border: 2px solid #72ff89;
}
.about-me-section p {
  font-size: 1.5rem;
  line-height: 1.2;
}

/*END OF ABOUT ME SECTION================*/
/*LIFT OFF SECTION=================*/
body.home {
  width: 100%;
}

.lift-off-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  min-width: unset;
  overflow-x: hidden;
}

.scroll-up-section {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111111;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #FFFFFF;
  filter: drop-shadow(0px 4px 0px #C8C8C8);
  animation: fade 1200ms steps(1) infinite;
  position: absolute;
  bottom: 65%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.scroll-up-section i {
  font-size: 1.25rem;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/*END OF LIFT OFF SECTION==========*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.capstone-project {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: #0b001c;
  background-image: url(../../assets/world/bgRepeat-caseStudy.svg);
  background-size: contain;
  background-position: center;
  background-repeat: repeat-y;
  color: white;
  overflow-x: hidden;
}

body.capstone-project section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 80%;
  min-height: 70vh;
}

@media screen and (min-width: 451px) {
  body.capstone-project section {
    max-width: 50%;
    min-height: 100vh;
  }
}
.mask {
  overflow: hidden;
  padding-bottom: 1rem;
  padding-top: 2rem;
}
.mask:has(.best-project) {
  padding: 2rem 0;
}
.mask > * {
  transform: translateY(200%);
}

.bold-important {
  color: #FFED8C;
}

.capstone-intro .card-title, .capstone-intro .intro-paragraph, .capstone-intro .best-project {
  opacity: 0;
}
.capstone-intro .mask .console-container {
  max-width: unset;
}
.capstone-intro .mask .console-container * {
  min-width: 100%;
}
.capstone-intro .mask .console-container .text-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #72ff89;
  min-height: unset;
}
.capstone-intro .mask .console-container .text-container .best-project {
  text-align: center;
}

.intro-paragraph, .problem-paragraph, .solution-paragraph {
  font-size: 1.75rem;
  line-height: 1.2;
}

.main-question p {
  font-size: calc(1em + 2vw);
  font-weight: 900;
  text-align: left;
  line-height: 1.2;
}

.capstone-solution {
  position: relative;
}
.capstone-solution .solution-inner-container {
  display: flex;
  flex-flow: column;
}
.capstone-solution .feature-icon {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
}
.capstone-solution .feature-icon img {
  width: 7rem;
}
.capstone-solution .study-icon {
  top: 60%;
  left: -60%;
}
.capstone-solution .daily-icon {
  top: 100%;
  left: -20%;
}
.capstone-solution .progress-icon {
  top: 100%;
  right: -40%;
}
.capstone-solution .account-icon {
  top: 60%;
  right: -80%;
}
.capstone-solution .sheet-icon {
  top: 100%;
  left: 50%;
}

@media screen and (max-width: 450px) {
  body.capstone-project section.begin-journey {
    display: none;
  }
}
.begin-journey {
  position: relative;
}
.begin-journey .mask {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 100%;
  height: 2rem;
  padding: 0;
}
.begin-journey .mask h2 {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 1rem;
}
.begin-journey .black-hole {
  width: 25rem;
  height: 15rem;
  z-index: 1;
  background-image: url(../../assets/world/3black\ hole.webp);
  background-size: cover;
  background-position: center;
  scale: 0;
}

.section-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

section.capstone-features {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}
section.capstone-features section {
  max-width: 100%;
}
section.capstone-features .feature {
  display: flex;
  flex-flow: row;
  gap: 2rem;
  transform-origin: center;
}
section.capstone-features .feature-number-container {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
section.capstone-features .feature-number-container .feature-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  transform-origin: center;
}
section.capstone-features .feature-container {
  display: flex;
  flex-flow: column;
}
section.capstone-features .feature-screens-container .mask {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 100%;
}
section.capstone-features .compulsion-loop {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
section.capstone-features .compulsion-loop .console-container .bottom-container .text-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #72ff89;
}
section.capstone-features .compulsion-loop .console-container .bottom-container .buttons-container {
  justify-content: flex-end;
}
section.capstone-features .compulsion-loop .console-container .bottom-container .buttons-container .prev-arrow {
  opacity: 0.5;
}

.thought-process {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}
.thought-process .mask {
  padding: 0;
}
.thought-process .console-container .text-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #72ff89;
}

.thought-process.card {
  height: fit-content;
}

.interviews-intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.interviews-intro .mask {
  padding: 1rem 0;
}
.interviews-intro .interviews-intro-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.interviews-intro .interviews-intro-wrapper .card {
  max-width: 100%;
}

.interviews-transition {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: left;
}

.interview-questions {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}
.interview-questions .mask {
  width: fit-content;
  padding: 0 0 1rem 0;
}

.question-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.question-wrapper .question {
  display: flex;
  gap: 1rem;
}
.question-wrapper .question .card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.question-wrapper .answer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.question-wrapper .answer .first-answer, .question-wrapper .answer .second-answer, .question-wrapper .answer .third-answer {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  gap: 0.5rem;
}
.question-wrapper .answer .first-answer .answer-container, .question-wrapper .answer .second-answer .answer-container, .question-wrapper .answer .third-answer .answer-container {
  text-align: right;
  width: fit-content;
}
.question-wrapper .answer .first-answer .answer-bar, .question-wrapper .answer .second-answer .answer-bar, .question-wrapper .answer .third-answer .answer-bar {
  width: 0.5rem;
  height: 0px;
  border-radius: 0.15rem;
  background-color: #FFE13F;
}

.iterative-process, .wireframes, .artboards, .mockups, .ui-style-intro, .ui-style {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  color: #383838;
}

.iterative-process {
  border-radius: 100%;
  min-height: 100vh;
}
.iterative-process .mask {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  width: 0px;
  height: 0px;
  border-radius: 100% 100% 0% 0%;
  overflow: hidden;
}
.iterative-process .mask .text-mask {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wireframes {
  flex-flow: column !important;
  gap: 1rem;
  background-color: #FFFFFF;
}
.wireframes .text-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.wireframes .text-container .mask {
  padding: 0;
}
.wireframes .text-container .line {
  background-color: #383838;
  height: 2px;
  width: 0px;
}
.wireframes .images-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.wireframes .images-container img {
  width: 15vw;
}

.artboards {
  background-color: #FFFFFF;
  gap: 2rem;
}
.artboards .text-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.artboards .text-container .mask {
  padding: 0;
}
.artboards .text-container .line {
  background-color: #383838;
  height: 2px;
  width: 0px;
}
.artboards .images-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.mockups {
  background-color: #FFFFFF;
}
.mockups .text-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.mockups .text-container .line {
  background-color: #383838;
  height: 2px;
  width: 0px;
}
.mockups .images-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.mockups .images-container img {
  width: 15vw;
}

body.capstone-project section.ui-style-intro {
  min-height: unset;
  height: 75vh;
}

.ui-style-intro {
  background-color: #FFFFFF;
  flex-flow: row !important;
  gap: 1rem;
  min-height: unset;
}
.ui-style-intro .mask {
  padding: 0;
}
.ui-style-intro .mask h1 {
  font-size: calc(1em + 2vw + 6vw);
}
.ui-style-intro .mask > * {
  transform: translate(200%, 0%);
}
.ui-style-intro .line {
  background-color: #383838;
  height: 0px;
  width: 4px;
}

.ui-style {
  background-color: #FFFFFF;
  gap: 10rem;
}
.ui-style .line {
  background-color: #383838;
  height: 2px;
  width: 0px;
}
.ui-style .inner-wrapper {
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.ui-style .inner-wrapper .mask {
  padding: 0;
}
.ui-style .inner-wrapper video {
  border-radius: 1rem;
}
.ui-style .inner-wrapper.lumi-intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.ui-style .inner-wrapper.lumi-intro .images-container .mask {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 18vh;
}
.ui-style .images-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.lumi-transition, .lumi-sketches {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  color: #383838;
  min-width: 100%;
  padding: 2rem;
}

body.capstone-project section.lumi-transition {
  min-height: 50vh;
}
body.capstone-project section.lumi-transition p {
  max-width: 50vw;
}

.lumi-sketches {
  gap: 6rem;
}
.lumi-sketches .sketch-one, .lumi-sketches .sketch-two, .lumi-sketches .sketch-three {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 60%;
}
.lumi-sketches .sketch-one .mask:first-child, .lumi-sketches .sketch-two .mask:first-child, .lumi-sketches .sketch-three .mask:first-child {
  height: fit-content;
  align-self: center;
}
.lumi-sketches img {
  border-radius: 1rem;
}
.lumi-sketches .sketch-two .mask-wrapper {
  align-self: center;
}
.lumi-sketches .sketch-two .mask-wrapper .mask {
  padding: 0;
}
.lumi-sketches .lumi-vectorized {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 60%;
}
.lumi-sketches .lumi-vectorized > .mask {
  align-self: center;
}
.lumi-sketches .lumi-vectorized .images-container .mask {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.lumi-sketches .lumi-vectorized .images-container .mask img {
  width: 33%;
}

body.capstone-project section.lumi-animation {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  max-width: 100%;
  min-height: fit-content;
  padding: 10rem 0rem 0rem 0rem;
  background-color: #FFFFFF;
}
body.capstone-project section.lumi-animation video {
  width: 100%;
}

body.capstone-project section.learnium-outro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #FFFFFF;
  min-width: 100%;
  min-height: 100vh;
  color: #383838;
}
body.capstone-project section.learnium-outro .mask {
  padding: 0.25rem;
}
body.capstone-project section.learnium-outro .visit-website a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 2px solid #383838;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
body.capstone-project section.learnium-outro .visit-website a .mask {
  padding: 0;
  height: 2rem;
}
body.capstone-project section.learnium-outro .visit-website a .mask > * {
  transform: translateY(0%);
}
body.capstone-project section.learnium-outro .visit-website a:hover {
  background-color: #72ff89;
  color: #383838;
}

@media screen and (max-width: 450px) {
  body.capstone-project .mask {
    padding: 0 0 1rem 0;
  }
  body.capstone-project section.intro {
    gap: 1rem;
  }
  body.capstone-project .capstone-features .feature {
    flex-flow: column;
    align-items: start;
    gap: 0rem;
  }
  body.capstone-project .capstone-features .feature .feature-screens-container .mask {
    display: flex;
    overflow-x: visible;
  }
  body.capstone-project .capstone-features .feature .feature-screens-container .mask img {
    width: 50vw;
  }
  body.capstone-project .capstone-features .section.capstone-features section .compulsion-lopp .console-container {
    min-width: 100%;
  }
}
body.about-me {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #0b001c;
  background-image: url(../../assets/world/bgRepeat-caseStudy.svg);
  background-size: contain;
  background-position: center;
}
body.about-me .console-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 0px 0px #C8C8C8;
  gap: 1rem;
  background-color: #FFFFFF;
  border-radius: 1rem;
  padding: 1rem;
  min-width: 22rem;
  max-width: 22rem;
}
body.about-me .console-container .images-container {
  position: relative;
  border-radius: 0.5rem;
  border: 2px solid #111111;
  overflow: hidden;
  height: 20rem;
  width: 100%;
}
body.about-me .console-container .images-container .depth {
  background-color: #C8C8C8;
  height: 16px;
}
body.about-me .console-container .images-container .image-container {
  border-radius: 0.5rem;
  background-color: #FFFFFF;
  background-image: url(../../assets/aboutMe/pablo.webp);
  filter: grayscale(90%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 25rem;
  position: absolute;
  top: 6px;
  left: 0%;
  z-index: 1;
}
body.about-me .console-container .images-container .door {
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}
body.about-me .console-container .images-container .left-door {
  top: 0%;
  left: -50%;
  border-right: 2px solid #111111;
}
body.about-me .console-container .images-container .right-door {
  top: 0%;
  right: -50%;
  border-left: 2px solid #111111;
}
body.about-me .console-container .bolts {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
body.about-me .console-container .bolts .bolt {
  border: 2px solid #111111;
  border-radius: 100%;
  height: 1rem;
  width: 1rem;
  position: relative;
}
body.about-me .console-container .bolts .bolt::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #111111;
  height: 0.9rem;
  width: 2px;
}
body.about-me .console-container .bolts p {
  opacity: 0.4;
  font-size: 1rem;
}
body.about-me .console-container .bolts-top .bolt:first-child {
  transform: rotate(15deg);
}
body.about-me .console-container .bolts-top .bolt:last-child {
  transform: rotate(-45deg);
}
body.about-me .console-container .bolts-bottom .bolt:first-child {
  transform: rotate(-30deg);
}
body.about-me .console-container .bolts-bottom .bolt:last-child {
  transform: rotate(60deg);
}
body.about-me .console-container .bottom-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
body.about-me .console-container .bottom-container .text-container {
  background-color: #acacac;
  border-radius: 0.5rem;
  border: 2px solid #111111;
  padding: 1rem;
  color: #10462c;
  min-height: 9rem;
  min-width: 100%;
  position: relative;
}
body.about-me .console-container .bottom-container .text-container p {
  font-size: 1.1rem;
}
body.about-me .console-container .bottom-container .buttons-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
body.about-me .console-container .bottom-container .buttons-container .power-button, body.about-me .console-container .bottom-container .buttons-container .prev-arrow, body.about-me .console-container .bottom-container .buttons-container .next-arrow {
  border-radius: 0.5rem;
  border: 2px solid #111111;
  color: #111111;
  padding: 0.5rem 0.75rem;
  font-size: 1.2rem;
  box-shadow: 0px 6px 0px 0px #C8C8C8;
}
body.about-me .console-container .bottom-container .buttons-container .power-button:hover, body.about-me .console-container .bottom-container .buttons-container .prev-arrow:hover, body.about-me .console-container .bottom-container .buttons-container .next-arrow:hover {
  transform: translateY(4px);
  box-shadow: unset;
}
body.about-me .console-container .bottom-container .buttons-container .power-button i:hover, body.about-me .console-container .bottom-container .buttons-container .prev-arrow i:hover, body.about-me .console-container .bottom-container .buttons-container .next-arrow i:hover {
  scale: unset;
  color: unset;
}
body.about-me .console-container .bottom-container .buttons-container .power-button {
  background-color: #72ff89;
}
body.about-me .console-container .bottom-container .buttons-container .prev-arrow, body.about-me .console-container .bottom-container .buttons-container .next-arrow {
  background-color: #F5F5F5;
}
body.about-me .console-container .bottom-container .buttons-container .arrow-buttons-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/*ACCESSIBILITY==================*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*# sourceMappingURL=style.css.map */
