/*STARSHIP =======================*/
.starship-system {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: -1;
    // animation: translation 8000ms infinite;

    bottom: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.starship-container, .booster-container {
    width: 65px;
    overflow: hidden;

    img {
        max-width: unset;
    }
}

.starship-and-flames, .booster-and-flames {
    width: 65px;
}

.starship-and-flames, .starship-container {
    height: 195px;
}

.booster-and-flames, .booster-container {
    height: 255px;
    position: absolute; 
    top: 41%;
}

.rotating {
    animation: rotation 800ms steps(4) infinite;
}

@keyframes rotation {
    from {
        transform: translate3d(0px, 0, 0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}

.descending {
    animation: descending 2000ms steps(1) infinite;
}

@keyframes descending {
    0% {
        transform: translate3d(-75%, 0, 0);
    }
    33% {
        transform: translate3d(-50%, 0, 0);
    }
    66% {
        transform: translate3d(-75%, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }


}

@keyframes translation {
    from {
        transform: translateY(0rem);
    }
    to {
        transform: translateY(-30rem);
    }
}

// STAGE SEPARATION===============
.starship-system {

    .starship-and-flames.stage-separation {
        transform: translate(0%, 100%);
        animation: starshipSeparation 6000ms 1;

        @keyframes starshipSeparation {
            0% {
                transform: translate(0%, 0%);
                rotate: 0deg;
            }
            20% {
                transform: translate(5%, 5%);
                rotate: -2deg;
            }
            100% {
                transform: translate(0%, 100%);
                rotate: 0deg;
            }
        }
    }

    .booster-and-flames.stage-separation {
        transform: translate(-60%, 500%);
        animation: boosterSeparation 8000ms 1;

        @keyframes boosterSeparation {
            0% {
                transform: translate(0%, 0%);
                rotate: 0deg;
            }
            20% {
                transform: translate(-10%, 25%);
                rotate: 10deg;
            }
            100% {
                transform: translate(-100%, 350%);
                rotate: 45deg;
            }
        }
    }
}
//END OF STAGE SEPARATION=========


// STAGE 2 FLYING OUT=============
.starship-system.flying-out {
        transform: translate(0%, 0%);
        animation: stageTwoFlyingOut 4000ms 1;

        @keyframes stageTwoFlyingOut {
            0% {
                transform: translate(-50%, -50%);
                rotate: 0deg;
            }
            40% {
                transform: translate(-50%, 150%);
                rotate: 5deg;
                opacity: 1;
            }
            80% {
                opacity: 0;
            }
            100% {
                transform: translate(-50%, -850%);
                rotate: 0deg;
            }
        }
}


// END OF STAGE 2 FLYING OUT=============