/*STARSHIP =======================*/
.starship-system {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: -1;
    // animation: translation 8000ms infinite;

    bottom: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.starship-system.floating {
        animation-name: floating;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

        @keyframes floating {
            0% { transform: translate(-54%,  -50%); }
            50%  { transform: translate(-46%, -48%); }
            100%   { transform: translate(-50%, -50%); }    
        }     
}

.starship-system.shaking {
        animation-name: shaking;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;

    @keyframes shaking {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }
}



.starship-container, .booster-container {
    width: 65px;
    overflow: hidden;

    img {
        max-width: unset;
    }
}

.starship-container {
    height: 195px;
}

.booster-container {
    height: 255px;
    position: absolute; 
    top: 95%;
    // transform-origin: center;
}

.rotating {
    animation: rotation 800ms steps(4) infinite;
}

@keyframes rotation {
    from {
        transform: translate3d(0px, 0, 0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}

.descending {
    animation: descending 2000ms steps(1) infinite;
}

@keyframes descending {
    0% {
        transform: translate3d(-75%, 0, 0);
    }
    33% {
        transform: translate3d(-50%, 0, 0);
    }
    66% {
        transform: translate3d(-75%, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }


}

@keyframes translation {
    from {
        transform: translateY(0rem);
    }
    to {
        transform: translateY(-30rem);
    }
}

// STAGE SEPARATION===============
.starship-system {

    .starship-container.stage-separation {
        transform: translate(0%, 100%);
        animation: starshipSeparation 8000ms 1;

        @keyframes starshipSeparation {
            0% {
                transform: translate(0%, 0%);
                rotate: 0deg;
            }
            20% {
                transform: translate(5%, 5%);
                rotate: -2deg;
            }
            100% {
                transform: translate(0%, 100%);
                rotate: 0deg;
            }
        }
    }

    .booster-container.stage-separation {
        transform: translate(-60%, 500%);
        animation: boosterSeparation 8000ms 1;

        @keyframes boosterSeparation {
            0% {
                transform: translate(0%, 0%);
                rotate: 0deg;
            }
            20% {
                transform: translate(-10%, 25%);
                rotate: 10deg;
            }
            100% {
                transform: translate(-100%, 350%);
                rotate: 45deg;
            }
        }
    }
}