/*STARSHIP =======================*/

.starship-system {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: -1;
    // animation: translation 8000ms infinite;

    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.starship-container, .booster-container {
    width: 65px;
    overflow: hidden;

    img {
        max-width: unset;
    }
}

.starship-container {
    height: 195px;
}

.booster-container {
    height: 255px;
    position: absolute; 
    top: 95%;
    // transform-origin: center;
}

.rotating {
    animation: rotation 800ms steps(4) infinite;
}

@keyframes rotation {
    from {
        transform: translate3d(0px, 0, 0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes translation {
    from {
        transform: translateY(0rem);
    }
    to {
        transform: translateY(-30rem);
    }
}