/*SECTIONS===========================*/
section.home {
    height: 100vh;
    max-width: 75vw;
}



/*MEDIA===========================*/

img {
    max-width: 100%;
    height: auto;
    display: block;
    pointer-events: none;
}


/*LINKS========================*/

a {
    color: unset;
    text-decoration: none;
}

/*LISTS========================*/

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        font-size: $fs-b-s;
        opacity: 0.5;

        &:hover {
            color: $yellow-accent-colour;
            opacity: 1;
        }
    }
}

/*ICONS========================*/
i:hover {
    color: $purple-accent-colour;
}
/*END OF ICONS========================*/

body:has(.starship-system:hover) .follower {
    scale: 1.5;
    background-color: $background-colour;

}
/*MASKS===========================*/

/*CUSTOM CURSOR ==================*/
.featured {
    .cursor {
        background-color: $darker-yellow-accent-colour;
    }
}
.cursor {
    --size: 30px;
    width: var(--size);
    height: var(--size);
    border-radius: 100%;
    background-color: $green-accent-colour;
    scale: 1;
    left:  -30px;
    top:  -30px;
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
/*END OF CUSTOM CURSOR ============*/
