/*SECTIONS===========================*/
section {
    height: 100vh;
    max-width: 75vw;
}



/*MEDIA===========================*/

img {
    max-width: 100%;
    height: auto;
    display: block;
    pointer-events: none;
}


/*LINKS========================*/

a {
    color: unset;
    text-decoration: none;
}

/*LISTS========================*/

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        font-size: $fs-b-s;
        opacity: 0.5;

        &:hover {
            color: $accent-colour;
            opacity: 1;
        }
    }
}

/*ICONS========================*/
i:hover {
    scale: 1.2;
}
/*END OF ICONS========================*/




/*FOLLOWER========================*/

.follower {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 11;
    border: 1px solid #fff;
    background-color: $contrast-colour;
    border-radius: 50%;
    opacity: 0.75;
}

body:has(.starship-system:hover) .follower {
    scale: 1.5;
    background-color: $background-colour;

}


/*MASKS===========================*/


/*ELEMENT===========================*/

.element {
    width: 2.75rem;
    height: 2.75rem;
    background-color: $bar-colour;
    border-radius: 100%;
    border: 2px dashed $contrast-colour;

    &:hover {
        scale: 1.1;
    }
}