/*TYPOGRAPHY===========================*/

body {
    font-family: $font-body;
    font-weight: $fw-regular;
    color: $contrast-colour;
}

h1, h2, h3 {
    font-family: $font-headings;
    font-weight: $fw-bold;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: $fs-h-l;
}

h2 {
    font-size: $fs-h-m;
}

h3 {
    font-size: $fs-h-s;
}

p {
    font-size: $fs-b-m;
}