body.about-me .main-section {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    position: relative;

    .about-me-title {
        position: absolute;
        z-index: -1;
        font-size: 12rem;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 0;
        letter-spacing: 1rem;
        opacity: 0.25;

        animation-name: myName;
        animation-duration: 2000ms;
        animation-iteration-count: 1;
        animation-timing-function: cubic-bezier(.47,1.64,.41,.8);
        transform-origin: center left;

        @keyframes myName {
            0% {
                top: 80%;
                opacity: 0;
                scale: 0.8;
            }
            50% {
                top: 5%;
                opacity: 0.2;
                scale: 1;
            }
            100% {
                top: 5%;
                opacity: 0.25;
            }
        }
    }

    .portrait-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        .picture-container {
            width: 50%;
            bottom: -120%;
            filter: grayscale(70%);

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background: linear-gradient(#00000000 60%, $background-colour 100%);
                z-index: 2;
            }
        }
    }

    .dot-wrapper {
        position: absolute;
        left: 15%;
        z-index: 10;

        &:hover .dot {
            background-color: $accent-colour;
            cursor: pointer;
        }

        &:hover .dot::after {
            opacity: 1;
        }

        .dot {
            width: 2rem;
            height: 2rem;
            border: $accent-colour 2px solid;
            border-radius: 50%;
        }
    }

    .dot-wrapper.honest-me {
        left: 50%;
        top: 100%;
        transform: translateX(-50%);

        &::after {
            content: 'Honest Me';
            position: absolute;
            color: $accent-colour;
            bottom: -120%;
            left: 50%;
            transform: translate(-50%, -50%);
            white-space: nowrap;
            opacity: 0;
            pointer-events: none;
        }
    }

    .dot-wrapper.one-joke {
        left: 85%;
        transform: translateX(-50%);
    }
}

.main-wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    width: 40%;
}

body.about-me .text-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

body.about-me .text-wrapper p {

    background-color: $bar-colour;
    border-radius: 1rem;
    padding: 1rem;

    a {
        display: inline;
        color: $accent-colour;
    }

    i {
        display: inline;
    }

    span {
        font-size: 0.85rem;
    }
}

.about-me-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;

    .about-me-cell {
        border-radius: 0.5rem;

        p {
            width: 100%;
        }
    }

    .about-me-cell.about-me, .about-me-cell.honest-me, .about-me-cell.joke {
        grid-column: 1/2;
        opacity: 0.5;
        white-space: nowrap;

         p {
            text-align: center;
         }
    }

    .about-me-cell.content {
        grid-column: 2/-1;
        grid-row: 1/-1;
        background-color: #101010;
        padding: 2rem;

        display: flex;
        align-items: center;
        justify-content: center;

        p {
            width: fit-content;
            opacity: 0.5;
        }
    }
}

.pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    width: 100%;
  }
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(0, 0%, 16%) 0%,
      #070707 8%,
      #070707 92%,
      hsl(0, 0%, 16%) 100%
    );
  }
  .front {
    display: block;
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    background: $bar-colour;
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .pushable:hover {
    filter: brightness(110%);
  }

  .pushable:hover p {
    opacity: 1;
  }

  .pushable:hover .front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  .pushable:hover .shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }

  body.about-me {

    .progress-bar-container {
        justify-content: end;
    }
  }