body.about-me .main-section {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2rem;

    .picture-container {
        position: relative;
        width: 20%;
        justify-self: center;
        
        img {
            border-radius: 50%;
        }
    }

    .text {
        max-width: 30%;
        justify-self: center;
    }
}

.floating {
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    @keyframes floating {
        0% { transform: translate(0%,  0%); }
        33% { transform: translate(0%,  -2%); }
        66%  { transform: translate(0%, 2%); }
        100%   { transform: translate(0%, 0%); }    
    }     
}