html, body {
    scroll-behavior: smooth;
}

::-moz-selection { /* Code for Firefox */
    color: $purple-accent-colour;
    background: $green-accent-colour;
  }
  
  ::selection {
    color: $purple-accent-colour;
    background: $green-accent-colour;
  }

body.home {
    color: $contrast-colour;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    scrollbar-color: transparent;
    position: relative;
    margin: 0;
}

