/*NAV========================*/
nav.navigation-bar {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    padding: 2rem;

    position: fixed;
    top: 0;
    z-index: 100;

    animation: 1600ms cubic-bezier(.47,1.64,.41,.8)  0s 1 slideInFromTop;

    @keyframes slideInFromTop {
        0% {
            transform: translateY(-150%);
        }
        100% {
            transform: translateY(0);
        }
    }

    .logo-wrapper {
        width: 5rem;
        height: 5rem;
        transition: all 400ms cubic-bezier(.47,1.64,.41,.8);

        &:hover {
            scale: 1.2;
            rotate: 5deg;
        }

    }

    // z-index: 10;

    li {
        display: flex;
        align-items: flex-end;
        justify-content: end;
    }
}