/*NAV========================*/
nav.navigation-bar {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    padding: 2rem;

    position: sticky;
    top: 0;

    // z-index: 10;

    li {
        display: flex;
        align-items: flex-end;
        justify-content: end;
    }
}