.projects-section {
    width: 100%;
}

.project-link {
    display: block;
}

.project {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;

    padding: 1rem 20%;
    width: 100%;

    background-color: $background-colour;

    position: relative;

    
    &:hover .project-preview-images-wrapper {
        opacity: 1;
        display: block;
    }

    .project-preview-images-wrapper {
        aspect-ratio: 16/9;
        // width: 30rem;

        // position: absolute;
        // top: 0%;
        // right: 0%;
        // transform: translateY(-5%);
        z-index: 1;

        opacity: 0;
        display: none;

        animation-name: floating;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

        @keyframes floating {
            0% { transform: translate(0px,  -5%); }
            50%  { transform: translate(0px, 5%); }
            100%   { transform: translate(0, -5%); }    
        }
        
        &:hover .preview-image {
            -webkit-box-shadow: -1px 12px 17px -10px rgba(236,86,99,0.25); 
            box-shadow: -1px 12px 17px -10px rgba(236,86,99,0.25);
        }

        .preview-image {
            width: 100%;
            height: 100%;
            background-color: $contrast-colour;
            border-radius: 1rem;
            overflow: hidden;

            transition: all 400ms cubic-bezier(.47,1.64,.41,.8) 200ms;
        }

        & .preview-image:not(.preview-image:first-child){
            background-color: $background-colour;
            position: absolute;
            inset: 0;
            z-index: -1;
        }

        &:hover .preview-image:last-child {
            transform-origin: bottom left;
            transform: translate(2rem, -5rem) rotate(-5deg);
        }

        &:hover .preview-image:nth-child(2) {
            transform-origin: top left;
            transform: translate(2rem, 5rem) rotate(5deg);
        }
    }

    .project-inner-wrapper {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: start;

        gap: 1rem;
    }

    .project-text-container {
        opacity: 0.2;

        .project-link:hover {
            text-decoration: underline;
        }
    }

    &:hover {
        color: $background-colour;
        background-color: $accent-colour;

        .launch-project-button {
            opacity: 1;
            display: block;
        }
    }

    &:hover .project-text-container {
        opacity: 1;
    }

    .launch-project-button {
        padding: 0.25rem 1rem;
        border-radius: 10rem;
        border: 2px solid $background-colour;
        opacity: 0;
        display: none;

        & > * {
            font-size: $fs-b-s;
        }

        &:hover {
            background-color: $background-colour;
            color: $accent-colour;
        }
    }
}