@include for-size(phone-only) {
    #projects {
        @include display-flex(column, center, center);
        width: 100%;
        min-height: 100vh;
    
        #project {
            @include display-flex(row, center, center);
            // padding: 10rem;
            gap: 1rem;
            width: 100%;
            height: 100%;

            & .mask {
                padding: 0;
            }

            & .mask *  {
                transform: translateY(0%);
            }
    
            .main-mask {
                position: relative;
                width: 100%;
                transition: all 0.25s ease-in-out;

            }
    
            .project-container {
                @include display-flex(column, flex-start, center);
                position: relative;
                gap: 1rem;
                padding: 1rem;
                margin: 1rem;
                border-radius: 1rem;
                height: 100%;
                background-color: $background-colour;
                overflow: hidden;
    
                .open-icon {
                    @include display-flex(row, flex-end, center);
                    width: 100%;
                }
    
                .project-inner-wrapper {
                    @include display-flex(row, space-between, center);
                    flex-wrap: wrap;
                    width: 100%;
                    gap: 1rem;
                    // padding: 0 1rem;
    
                    .project-tags {
                        @include display-flex(row, center, center);
                        gap: 0.5rem;
    
                        p {
                            padding:  0.25rem 1rem;
                            font-size: 1rem;
                            border-radius: 2rem;
                            border: 2px solid $dark-text-colour;
                            color: $dark-text-colour;
                        }
                    }
                }
    
                .project-images {
                    width: 100%;
                    height: 20vh;
                    overflow: hidden;
                    position: relative;
                    border-radius: 0.5rem;

                    .mask {
                    @include display-flex(row, center, center);
                    gap: 1rem;
                    width: 100%;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    // bottom: -25%;
                    transform: translate(-50%, -50%);
    
                    img {
                        width: 45%;
                    }

                    img:nth-child(4) {
                        display: none;
                    }

                    img:nth-child(1) {
                        order: 2;
                    }
                    img:nth-child(2) {
                        order: 3;
                    }
                    }
                
                }
                
            }
        }
    }
}

@include for-size(tablet-portrait-up) {
    #projects {
        @include display-flex(column, center, center);
        gap: 4rem;
        width: 100%;
        min-height: 100vh;
        z-index: 1;
    
        #project {
            @include display-flex(row, center, center);
            // padding: 10rem;
            gap: 1rem;
    
            .main-mask {
                position: relative;
                width: 10rem;
                height: 10rem;
                border-radius: 100%;
                overflow: hidden;
                transition: all 0.25s ease-in-out;
            }
    
            .project-container {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
    
                @include display-flex(column, flex-start, center);
                background-color: $background-colour;
                width: 30vw;
                height: 40vh;
                border-radius: 1rem;
                padding: 1rem;
                overflow: hidden;
    
                .open-icon {
                    @include display-flex(row, flex-end, center);
                    width: 100%;
                }
    
                .project-inner-wrapper {
                    @include display-flex(row, space-between, center);
                    flex-wrap: wrap;
                    width: 100%;
                    gap: 1rem;
                    padding: 0 1rem;
    
                    .project-tags {
                        @include display-flex(row, center, center);
                        gap: 0.5rem;
    
                        p {
                            padding:  0.25rem 1rem;
                            border-radius: 5rem;
                            border: 2px solid $dark-text-colour;
                            color: $dark-text-colour;
                        }
                    }
                }
    
                .project-inner-wrapper + .mask {
                    padding: 0 1rem;
                }
    
                .project-images {
                    @include display-flex(row, center, center);
                    gap: 1rem;
                    position: absolute;
                    top: 100%;
    
                    img {
                        // width: 9vw;
                        width: 30%;
                    }
                
                }
                
            }
        }
    }
}

.iterative-process {


    .mask  {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 0px;
        height: 0px;
        border-radius: 100% 100% 0% 0%;
        overflow: hidden;

        .text-mask {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.projects-mask {
    @include display-flex;
    position: absolute;
    top: 42%;
    z-index: -1;
    gap: 0.5rem;
    // color: $purple-accent-colour;
    color: $green-accent-colour;

    .text-mask {
        font-size: 5rem;

        h1 {
            transform: translateY(200%);
        }
    }

    .projects-line {
        width: 0%;
        height: 4px;
        background-color: $green-accent-colour;
    }
}



