$background-colour: #FFFFFF;
$dark-text-colour: #383838;
$drop-shadow-colour: #C8C8C8;
$dark-drop-shadow-colour: #acacac;
$bar-colour: #FFFFFF;
$yellow-accent-colour: #FFED8C;
$darker-yellow-accent-colour: #FFE13F;
$green-accent-colour: #72ff89; 
$blue-accent-colour: #56ECE3;
$purple-accent-colour: #330b6e;
$red-accent-colour: #FF4C4C;
$dark-purple-colour: #0b001c;
$contrast-colour: #111111;