$font-headings: "Gilroy-ExtraBold", arial, sans-serif;
$font-body: 'Titillium Web', sans-serif;

$fw-bold: 700;
$fw-regular: 400;
$fw-light: 200;

$fs-h-l: 4rem;
$fs-h-m: 2rem;
$fs-h-s: 1.5rem;
$fs-b-l: 1.5rem;
$fs-b-m: 1.25rem;
$fs-b-s: 1rem;
$fs-pb-s: 0.7rem;